html {
  font-size: var(--html-fs);
}
body {
  font-size: 16px;
  --font-family: var(--ff);
  --second-family: var(--sf);
  scroll-behavior: smooth;
  /* Light mode */
  background-color: var(--page-bg);
  color: var(--text-color);
}
.wrapper {
  width: 100%;
  margin-inline: auto;
}
.container {
  max-width: 1230px;
  margin-inline: auto;
  padding: 0 30px;
  @include mobile-small {
    padding: 0 10px;
  }
}
img {
  cursor: pointer;
}
.title {
  font: var(--txt-700-60-ff-130);
  text-align: center;
  color: var(--c-background-before);
  margin-bottom: 40px;
  @include mobile {
    font: var(--txt-700-40-ff);
  }
}
.h2 {
  font: var(--txt-700-40-ff);
  color: var(--c-background-wrapper);
  @include mobile {
    font: var(--txt-700-30-ff);
  }
}
.desc {
  font: var(--txt-400-18-ff);
  color: var(--c-background-wrapper);
}
