.projects {
  padding: 70px 0;
  @include mobile {
    padding: 40px 0;
  }
  &-title {
    margin-bottom: 60px;
  }
  &-blocks {
    @include f-c-c;
    flex-wrap: wrap;
    gap: 30px;
    &__block {
      max-width: 370px;
      border-radius: 10px;
      box-shadow: var(--c-box-shadow);
      transition: var(--transition);
      &:hover {
        transform: translateY(-15px);
      }
      &-img {
        border-radius: 10px;
      }
      &-desc {
        font: var(--txt-700-24-ff);
        color: var(--c-background-wrapper);
        border-radius: 10px;
        padding: 15px 20px 25px;
        background: var(--c-text-white);
        @include mobile-small {
          font: var(--txt-500-18-ff);
        }
      }
    }
  }
}
